@import url('https://fonts.googleapis.com/css2?family=Rye&display=swap');

h1{
    font-family: 'Rye', cursive;
} 
.southWest{
    color: rgb(241, 146, 111);
    font-family: 'Rye', cursive;
} 
.southWestB{
    font-family: 'Rye', cursive;  
    color:rgb(121, 133, 238) !important;
    font-weight: italic; 
} 
.southWest + p {
    color:rgb(231, 255, 193);
}
a{
    height: 35px; 
    font-family: 'Rye', cursive;
    font-weight: 300; 
    color: orange; 
    
} 
a:active{
    color: black;
}
a:link{
    color: orange
}
a:visited{
    color: rgb(0, 0, 0);
    font-weight: bolder !important;
} 
p{
    color: rgba(255, 255, 255, 0.795);
} 
 .jack{ 
    justify-content: flex-end; 
    background-position-x: 45%;
    background-image: url('../images/jack_owner_pet_safe_kennels.jpg');
    background-repeat: no-repeat;
    height: auto; 
    min-height: 300px !important;
} 
